.arrowRight {
    display: none;
}
.arrowLeft {
    display: none;
}



@media (min-width: 1100px) and (min-height: 700px) {
    .arrowRight {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 40%;
        right: 0;
        margin: 0;
        width: 0.1%;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 28px solid darkred;
    }
    .arrowRight:hover {
        border-left: 27px solid #ad0707;
    }


    .arrowLeft {
        cursor: pointer;
        height: 0;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-right: 28px solid darkred;
        position: absolute;
        display: block;
        top: 40%;
        left: 0;
        margin: 0;
        width: 0.1%;
    }
    .arrowLeft:hover{
        border-right: 27px solid #ad0707;
    }
}

@media (min-width: 1100px) and (min-height: 700px) {
    .arrowRight {
        border-top: 66px solid transparent;
        border-bottom: 66px solid transparent;
        border-left: 32px solid darkred;
    }
    .arrowRight:hover {
        border-left: 32px solid #ad0707;
        transform: scale(1.08);
    }

    .arrowLeft {
        border-top: 66px solid transparent;
        border-bottom: 66px solid transparent;
        border-right: 32px solid darkred;
    }
    .arrowLeft:hover{
        border-right: 32px solid #ad0707;
        transform: scale(1.08);
    }

}


.disabled{
    cursor: none;
    filter: blur(12px)
}

