.Footer{
    margin-top: 50px;
    color: #8b0000;
    background-image: linear-gradient(#191919, black);
    padding-bottom: 35px;
}
.Footer strong {
    cursor: pointer;
    font-size: 1.2em;
}

.Footer strong:before{
    content: ' ';
}
.Line {
    margin-bottom: 20px;
    border-bottom: darkred 2px solid;
}
