.ChartSet{
    margin: auto;
}

.ChartSet h3{
    width: auto;
    text-decoration: underline ;
    text-decoration-color: darkred;
    animation: ownOpacity 1.2s ease-in forwards;
}
.ChartSet p{
    animation: ownOpacity 1.2s ease-in forwards;
}

.active{
    cursor: pointer;
   margin: 80px 0;
}
.disabled{
    margin-top: 50px;
    cursor: auto;
}

@keyframes ownOpacity {

    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
