.ChartSet{
    margin: auto;
}

.ChartSet h3{
    max-width: 80%;
    margin: 80px auto 5px auto;
    text-decoration: underline;
    text-decoration-color: darkred;
    animation: ownOpacity 1.2s ease-in forwards;
    padding-bottom: 10px;
}
.ChartSet p{
    animation: ownOpacity 1.2s ease-in forwards;
}

.active{
    cursor: pointer;
}
.active:hover{
    transform: scale(1.03);
}

.disabled{
    margin-top: 80px;
    cursor: auto;
}

@keyframes ownOpacity {

    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
