.MovieInfo{
    width: 37.5%;
    animation: MovieInfoOpacity 1.5s linear forwards;
}
.MovieInfo h1{
    border-bottom: solid darkred;
}

.MovieInfo h3{
    margin-top: -15px;
}

.MovieInfo p{
    width: 85%;
    margin: auto;
    text-align: center;
}


@media (max-width: 1100px) {
    .MovieInfo {
        width: 100%;
    }
}

@keyframes MovieInfoOpacity {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}